name: Build BCW Ultimate App
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build APK Simple
        uses: jasonraimondi/pwa-to-apk-action@v2
        with:
          url: https://bcw786-blip.github.io/bcw-tools/
          name: BCW Tools

      - name: Upload Final APK
        uses: actions/upload-artifact@v4
        with:
          name: BCW-Ultimate-App
          path: ./*.apk
